<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function(){
            $("#searchBtn").on("click",function(e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page){
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/board/list/" + page + "?searchBy=" + searchBy + "&searchQuery=" + searchQuery ;

        }

    </script>
</th:block>

<!-- 사용자 CSS 추가 -->


<div layout:fragment="content">



    <form th:action="@{'/board/list/' + ${items.number}}" role="form" method="get" th:object="${items}">
        <div class="form-inline" th:object="${itemSearchDto}" style="display: flex;margin-left: 68%;margin-top: 70px">
            <select th:field="*{searchBy}" class="form-control" style="width:auto">
                <option value="title">제목</option>
                <option value="createdBy">등록자</option>
            </select>
            <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요" style="width: 400px;">
            <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
        </div>
        <table class="table" style="width: 90%; margin-left: 100px; height: 150px;margin-top: 10px">
            <thead>
            <tr>
                <td>번호</td>
                <td>제목</td>
<!--                <td>#</td>-->
<!--                <td>등록자</td>-->
<!--                <td>등록일</td>-->
            </tr>
            </thead>
            <tbody>

            <tr th:each="item, status: ${items.getContent()}">

                <td>[[${item.id}]]</td>
                <td>
                    <a th:href="'/board/update/'+${item.id}"> [[${item.title}]] </a>
                </td>

<!--                <td th:text="${item.createdBy}"></td>-->
<!--                <td th:text="${item.regTime}"></td>-->
            </tr>

            </tbody>
        </table>

        <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" style="margin-top: 100px" >
            <ul class="pagination justify-content-center">

                <li class="page-item" th:classappend="${items.first}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${items.number - 1} + ')'" aria-label='Previous' class="page-link">
                        <span aria-hidden='true'>이전</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                </li>

                <li class="page-item" th:classappend="${items.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${items.number + 1} + ')'" aria-label='Next' class="page-link">
                        <span aria-hidden='true'>다음</span>
                    </a>
                </li>
            </ul>
        </div>


    </form>
<div style="margin-top: 40%">

</div>
</div>

</html>