<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="script">

    <script th:inline="javascript">

        $(document).ready(function () {

            var modal = $('.modal');
            var id = [[${item.id}]];

            var listGroup = $(".replyList");
            $(".replySave").hide(); //모달 내의 모든 버튼을 안 보이도록

            $(".replyCount").click(function () {

                $.getJSON('/replies/board/' + id, function (arr) {

                    console.log(arr);

                })//end getJSON

            })//end click

//특정한 게시글의 댓글을 처리하는 함수
            function loadJSONData() {
                $.getJSON('/replies/board/' + id, function (arr) {

                    console.log(arr);

                    var str = "";

                    $('.replyCount').html(" Reply Count  " + arr.length);

                    $.each(arr, function (idx, reply) {
                        console.log(reply);

                        str += '    <div class="d-flex mb-4" data-rno="' + reply.rno + '">';
                        str += '   <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>';
                        str += '    <div class="ms-3">';
                        str += '    <div class="fw-bold">' + reply.replyer +'</div>';
                        str += '   <p>'+  reply.text + '</p></div>';
                        str += '    </div>';

                    })

                    listGroup.html(str);

                });
            }
            loadJSONData();

            $(".text_mode").click(function () {

                $(".replySave").show(); //필요한 버튼들만 보이도록

            });
            $(".replyClose").click(function (){
                modal.modal('hide');
            })

            $(".replySave").click(function () {

                var reply = {
                    boardId: id,
                    replyer: $('.replyTest').val(),
                    text: $('.text_mode').val()
                }
                console.log(reply);
                $.ajax({
                    url: '/replies/',
                    method: 'post',
                    data: JSON.stringify(reply),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        console.log(data);

                        var newRno = parseInt(data);

                        alert(newRno + "번 댓글이 등록되었습니다.")
                        $('.text_mode').val('');
                        $('.replyTest').val('');
                        $(".replySave").hide(); //모달 내의 모든 버튼을 안 보이도록
                        loadJSONData();
                    }
                })
            });

            $('.replyList').on("click", ".d-flex", function () {

                var rno = $(this).data("rno");

                $(".text_mode").val($(this).find('.card-title').html());
                $("input[name='replyer']").val($(this).find('.card-subtitle').html());
                $("input[name='rno']").val(rno);

                $(".modal-footer .btn").hide();
                $(".replyRemove,.replyClose").show();

                modal.modal('show');

            });


            $(".replyRemove").on("click", function () {

                var rno = $("input[name='rno']").val(); //모달 창에 보이는 댓글 번호 hidden처리되어 있음

                $.ajax({
                    url: '/replies/' + rno,
                    method: 'delete',

                    success: function (result) {
                        console.log("result: " + result);
                        if (result === 'success') {
                            alert("댓글이 삭제되었습니다");
                            modal.modal('hide');
                            loadJSONData();
                        }
                    }
                })
            });



        });


    </script>

</th:block>


<div layout:fragment="content">
    <input type="hidden" id="boardId" th:value="${item.id}">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">[[${item.title}]]</h1>
                        <!-- Post meta content-->
                        <!-- Post categories-->
                    </header>
                    <!-- Preview image figure-->
                    <th:block th:if="${item.boardFileDTOList[1].imgUrl != '' }">

                    <figure class="mb-4"> <video controls autoplay muted th:src="${item.boardFileDTOList[1].imgUrl}" width="900px" height="500px"/></figure>
                    </th:block>
                    <!-- Post content-->
                    <section class="mb-5">
                        <p class="fs-5 mb-4">[[${item.content}]] </p>
                    </section>
                </article>
                <div class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modal title</h5>

                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger replyRemove">Remove</button>
                                <button type="button" class="btn btn-outline-secondary replyClose" data-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Comments section-->
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            <form class="mb-4">
                                <input class="replyTest" type="text" name="replyer" placeholder="닉네임...">
                                <input type="hidden" name="rno">
                                <textarea class="form-control text_mode" name="replyText" rows="3" placeholder="Join the discussion and leave a comment!"></textarea><button type="button" class="btn btn-primary replySave">Save</button></form>
                            <!-- Comment with nested comments-->
                            <div class="replyList">

                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- Side widgets-->

        </div>
    </div>






</div>
</html>










