<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="container">
        <input type="hidden" name="searchQuery" th:value="${boardSearchDTO.searchQuery}">
        <div th:if="${not #strings.isEmpty(boardSearchDTO.searchQuery)}" class="center">
            <div style="text-align: center">
            <p class="h3 font-weight-bold" th:text="${boardSearchDTO.searchQuery} + '  검색 결과 '"></p>
            </div>
        </div>
        <div class="col" style="display: flex; padding: 0;">
            <!-- Blog entries-->
            <div class="row-cols-md-5" style="display: flex; flex-direction: row; flex-wrap: wrap; width:95%; min-width: 500px; margin: 30px">
                <!-- Featured blog post-->
                <th:block th:each="board, status: ${images.getContent()}">
                    <div class="card mb-5" style="margin: 20px">
                        <a th:href="'/board/detail/' +${board.id}" class="text-dark">
                            <img th:src="${board.imgUrl}" class="card-img-top" th:alt="${board.title}">
                            <div class="card-body">
                                <h4 class="card-title">[[${board.title}]]</h4>
                                <p class="card-text">[[${board.content}]]</p>
                            </div>
                        </a>
                    </div>
                </th:block>
                <th:block th:if="${images.getContent().isEmpty()}">
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2021</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                </th:block>

            </div>



    </div>
        <!-- Pagination-->
        <nav aria-label="Pagination" style="margin-left: 130px">

            <div th:with="start=${(images.number/maxPage)*maxPage + 1}, end=(${(images.totalPages == 0) ? 1 : (start + (maxPage - 1) < images.totalPages ? start + (maxPage - 1) : images.totalPages)})" >
                <ul class="pagination justify-content-center my-4">
                    <li class="page-item" th:classappend="${images.number eq 0}?'disabled':''">
                        <a th:href="@{'/' + '?searchQuery=' + ${boardSearchDTO.searchQuery} + '&page=' + ${images.number-1}}" aria-label='Previous' class="page-link">이전</a>
                    </li>
                    <li class="page-item" aria-current="page" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${images.number eq page-1}?'active':''">
                        <a class="page-link" th:href="@{'/' +'?searchQuery=' + ${boardSearchDTO.searchQuery} + '&page=' + ${page-1}}" th:inline="text">[[${page}]]</a>
                    </li>
                    <li class="page-item" th:classappend="${images.number+1 ge images.totalPages}?'disabled':''">
                        <a class="page-link" th:href="@{'/' +'?searchQuery=' + ${boardSearchDTO.searchQuery} + '&page=' + ${images.number+1}}" aria-label='Next'>다음</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>


</html>










